.main-background {
  width: 100%;
  height: 500px;
  background-image: url(/project/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(100%);
  padding: 1px;
}

.main-title {
  color: white;
  margin-top: 100px;
  text-align: center;
}