.flexContainer {
  height: 100px;
  background-color: indianred;
  text-align: center;
}

.flexItem {
  float: left;
  width: 200px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.size {
  font-size: 50px;
}

@media screen and (max-width: 1200px) {
  .flexItem {
    font-size: 20px;
  }
}

.right {
  float: right;
}