@use 'main';



.grid-container {
  div {
    border: 1px solid black;
  }
  img {
    width: 100%;
  }
  .head {
    grid-column:1/3;
    grid-row:1/3;
  }

  display: grid;
  grid-template-columns : 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;
}

@media screen and (max-width : 768px) {
  .grid-container {
    div {
      margin: 0px;
    }
    img {
      margin: 0px;
    }
    display: block;
    margin: auto;
    .mobileScreen {
      height: 50vw;
    }
    .addScreen {
      background-image: url('/images/background.jpg');
      background-size: cover;
      background-position: center;
    }
  }
}