@use "main";

.shop-bg {
  .shop-container {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .shop-item {
    .overlay {
      box-sizing: border-box;
      position: absolute;
      opacity: 1;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 10%;
      bottom: -100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 1s;
    }
  
    img {
      width: 100%;
      display: block;
    }
  
    margin: 10px;
    width: 30%;
    overflow: hidden;
  }
  
  .shop-item:hover .overlay {
    bottom: -50%;
    opacity: 1;
  }

  background-color: #eee;
  padding: 20px;
}

.flip-outer {
  .flip-inner {
    .front {
      border-radius: 200px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      z-index: 1;
    }

    .back {
      border-radius: 200px;
      padding: 100px;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: cornflowerblue;
      text-align: center;
      transform: rotateY(180deg);
    }

    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
  }

  width: 300px;
  height: 300px;
}

.flip-inner:hover {
  transform: rotateY(180deg);
}